In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1779,tt0446013,45000000,30822861,Pathfinder,Karl Urban|Moon Bloodgood|Russell Means|Clancy...,Marcus Nispel,"Two Worlds, One War. The Ultimate Battle Begins.",A Viking boy is left behind after his clan bat...,99,Action,Twentieth Century Fox Film Corporation|Dune En...,1/11/2007,5.4,2007
1190,tt1408101,190000000,467365246,Star Trek Into Darkness,Chris Pine|Zachary Quinto|Zoe Saldana|Karl Urb...,J.J. Abrams,Earth Will Fall,When the crew of the Enterprise is called back...,132,Action|Adventure|Science Fiction,Paramount Pictures|Skydance Productions|Bad Ro...,5/5/2013,7.4,2013
198,tt2980648,22000000,88880821,The Hundred-Foot Journey,Helen Mirren|Manish Dayal|Om Puri|Charlotte Le...,Lasse HallstrÃ¶m,Life's greatest journey begins with the first ...,A story centered around an Indian family who m...,122,Drama,Amblin Entertainment|Harpo Films|Participant M...,8/6/2014,7.2,2014
518,tt0183790,65000000,117487473,A Knight's Tale,Heath Ledger|Rufus Sewell|Shannyn Sossamon|Pau...,Brian Helgeland,He Will Rock You,"William Thatcher, a peasant, is sent to appren...",132,Adventure|Drama|Romance|Action,Columbia Pictures Corporation|Escape Artists|B...,5/11/2001,6.5,2001
1409,tt0387131,25000000,82466670,The Constant Gardener,Ralph Fiennes|Rachel Weisz|Danny Huston|Bill N...,Fernando Meirelles,Love. At any cost.,Justin Quayle is a low-level British diplomat ...,129,Drama|Mystery|Thriller,Studio Babelsberg|Epsilon Motion Pictures|UK F...,8/31/2005,6.7,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# Сервисная функция считать количество слов
def words_amount(s):
  return len(s.split(' '))

# Сервисная функция считать длину строки
def symbols_amount(s):
  return len(s.replace(' ',''))

# тут другие ваши предобработки колонок например:
# Создаём колонку с цифрами прибыли от фильма (может быть отрицательной - убыточный фильм)
data['profit'] = data.revenue - data.budget

# Дата с разбивкой по каждому жанру
data_by_genres = data.copy()
data_by_genres['by_genre'] = data_by_genres.genres.str.split('|')
data_by_genres = data_by_genres.explode('by_genre')

# Дата с разбивкой по каждому директору
director_data = data.copy()
director_data['by_director'] = director_data.director.str.split('|')
director_data = director_data.explode(column='by_director')

# Дата с разбивкой по каждому актеру
actor_data = data.copy()
actor_data['actor'] = actor_data.cast.str.split('|')
actor_data = actor_data.explode(column='actor')

# Дата с разбивкой по каждой кинокомпании
prod_company_data = data.copy()
prod_company_data['by_company'] = prod_company_data.production_companies.str.split('|')
prod_company_data = prod_company_data.explode('by_company')
prod_company_data['words_in_overview'] = prod_company_data.overview.apply(words_amount)
prod_company_data['title_length'] = prod_company_data.original_title.apply(symbols_amount)

# Дата с разбивкой по месяцам выхода картины
data_by_month = data.copy()
data_by_month['month'] = pd.DatetimeIndex(data_by_month.release_date).month

# Дата с разбивкой по кастингу
import itertools
casting_data = data.copy()
casting_data['cast'] = casting_data.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
casting_data = casting_data.explode('cast')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [55]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()][['original_title','imdb_id']].reset_index().values.tolist()

[[723, 'Pirates of the Caribbean: On Stranger Tides', 'tt1298650']]

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [54]:
data[data.runtime == data.runtime.max()][['original_title','imdb_id']].reset_index().values.tolist()

[[1157, 'Gods and Generals', 'tt0279111']]

# 3. Какой из фильмов самый короткий (в минутах)?

In [53]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()][['original_title','imdb_id']].reset_index().values.tolist()

[[768, 'Winnie the Pooh', 'tt1449283']]

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [52]:
answers['6'] = '239. Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()][['original_title','imdb_id']].reset_index().values.tolist()

[[239, 'Avatar', 'tt0499549']]

# 7. Какой фильм самый убыточный?

In [51]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.min()][['original_title','imdb_id']].reset_index().values.tolist()

[[1245, 'The Lone Ranger', 'tt1210819']]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478'
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [50]:
answers['9'] = '599. The Dark Knight (tt0468569)'
success_2008 = data.query('release_year == 2008')
success_2008[success_2008.profit == success_2008.profit.max()][['original_title','imdb_id']].reset_index().values.tolist()

[[599, 'The Dark Knight', 'tt0468569']]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [49]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
fail_2012_2014 = data.query('release_year >= 2012 & release_year <= 2014')
fail_2012_2014[fail_2012_2014.profit == fail_2012_2014.profit.min()][['original_title','imdb_id']].reset_index().values.tolist()

[[1245, 'The Lone Ranger', 'tt1210819']]

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = 'Drama'
data_by_genres.by_genre.value_counts().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = 'Drama'
data_by_genres[data_by_genres.profit > 0].by_genre.value_counts().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = 'Peter Jackson'
director_data.groupby(by=['by_director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = 'Robert Rodriguez'
action_directors = director_data[director_data.genres.str.contains('Action')]
action_directors.by_director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = 'Chris Hemsworth'
actort_data_2012 = actor_data.query('release_year == 2012')
actort_data_2012.groupby(by=['actor'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = 'Matt Damon'
actor_data_above_average = actor_data[actor_data.budget > actor_data.budget.mean()]
actor_data_above_average.actor.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = 'Action'
NCage_data = data_by_genres[data_by_genres.cast.str.contains('Nicolas Cage')]
NCage_data.groupby(by='by_genre').by_genre.value_counts().sort_values(ascending=False).index[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [56]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
paramount_pic = prod_company_data[prod_company_data.by_company.str.match('Paramount Pictures')]
paramount_pic[paramount_pic.profit == paramount_pic.profit.min()][['original_title','imdb_id']].reset_index().values.tolist()

[[925, 'K-19: The Widowmaker', 'tt0267626']]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = '2015'
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = '2014'
WB_data = prod_company_data[prod_company_data.by_company.str.contains('Warner Bros')]
WB_data.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = '9'
data_by_month.month.value_counts().sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = '450'
len(data_by_month[(data_by_month.month == 6) | (data_by_month.month == 7) | (data_by_month.month == 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
answers['23'] = 'Peter Jackson'
winter_directors = data_by_month[(data_by_month.month == 1) | (data_by_month.month == 2) | (data_by_month.month == 12)]
winter_directors.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = 'Four By Two Productions'
prod_company_data.pivot_table(['title_length'],['by_company'], aggfunc='mean').sort_values(by='title_length', ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
answers['25'] = 'Midnight Picture Show'
prod_company_data.pivot_table(['words_in_overview'],['by_company'], aggfunc='mean').sort_values(by='words_in_overview', ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = [[599, 'The Dark Knight', 'tt0468569'],
 [118, 'Interstellar', 'tt0816692'],
 [125, 'The Imitation Game', 'tt2084970'],
 [9, 'Inside Out', 'tt2096673'],
 [34, 'Room', 'tt3170832'],
 [1183, 'The Wolf of Wall Street', 'tt0993846'],
 [128, 'Gone Girl', 'tt2267998'],
 [1191, '12 Years a Slave', 'tt2024544'],
 [119, 'Guardians of the Galaxy', 'tt2015381'],
 [1081, 'The Lord of the Rings: The Return of the King', 'tt0167260'],
 [1800, 'Memento', 'tt0209144'],
 [370, 'Inception', 'tt1375666'],
 [872, 'The Pianist', 'tt0253474'],
 [138, 'The Grand Budapest Hotel', 'tt2278388'],
 [1188, 'Her', 'tt1798709'],
 [28, 'Spotlight', 'tt1895587'],
 [124, 'Big Hero 6', 'tt2245084'],
 [177, 'The Fault in Our Stars', 'tt2582846'],
 [863, 'The Lord of the Rings: The Two Towers', 'tt0167261']]
sorted_data = data.sort_values(by=['vote_average'], ascending=False).head(round(len(data)/100))
sorted_data[['original_title','imdb_id']].reset_index().values.tolist()

[[599, 'The Dark Knight', 'tt0468569'],
 [118, 'Interstellar', 'tt0816692'],
 [125, 'The Imitation Game', 'tt2084970'],
 [9, 'Inside Out', 'tt2096673'],
 [34, 'Room', 'tt3170832'],
 [1183, 'The Wolf of Wall Street', 'tt0993846'],
 [128, 'Gone Girl', 'tt2267998'],
 [1191, '12 Years a Slave', 'tt2024544'],
 [119, 'Guardians of the Galaxy', 'tt2015381'],
 [1081, 'The Lord of the Rings: The Return of the King', 'tt0167260'],
 [1800, 'Memento', 'tt0209144'],
 [370, 'Inception', 'tt1375666'],
 [872, 'The Pianist', 'tt0253474'],
 [138, 'The Grand Budapest Hotel', 'tt2278388'],
 [1188, 'Her', 'tt1798709'],
 [28, 'Spotlight', 'tt1895587'],
 [124, 'Big Hero 6', 'tt2245084'],
 [177, 'The Fault in Our Stars', 'tt2582846'],
 [863, 'The Lord of the Rings: The Two Towers', 'tt0167261']]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [34]:
answers['27'] = ('Daniel Radcliffe', 'Rupert Grint')
casting_data.cast.value_counts().index[0]

('Daniel Radcliffe', 'Emma Watson')

# Submission

In [59]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': [[599, 'The Dark Knight', 'tt0468569'],
  [118, 'Interstellar', 'tt0816692'],
  [125, 'The Imitation Game', 'tt2084970'],
  [9, 'Inside Out', 'tt2096673'],
  [34, 'Room', 'tt3170832'],
  [1183, 'The Wolf of Wall Street', 'tt0993846'],
  [128, 'Gone Girl', 'tt2267998'],
  [1191, '12 Years a Slave', 'tt2024544'],
  [119, 'Guardians of the Galaxy', 'tt2015381'],
  [1081, 'The Lord of the Rings: The Return of the King', 'tt0167260'],
  [1800, 'Memento', 'tt0209144'],
  [370, 'Inception', 'tt1375666'],
  [872, 'The Pianist', 'tt0253474'],
  [138, 'The Grand Budapest Hotel', 'tt2278388'],
  [1188, 'Her', 'tt1798709'],
  [28, 'Spotlight', 'tt1895587'],
  [124, 'Big Hero 6', 'tt2245084'],
  [177, 'The Fault in Our Stars', 'tt2582846'],
  [863, 'The Lord of the Rings: The Two Towers', 'tt0167261']],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [46]:
# и убедиться что ни чего не пропустил)
len(answers)

27